extends pppolice

block addons
  script(src=`/javascripts/pppolice-farm.js?20191029-3`)

block content
  div(class='box')
    div(class='container' id='userInfo')
    table(id='table')
    script.
      var [from,to] = [!{dateTime}]
      window.onload = function(){
        var pull = io.connect('/');
        pull.on('scores.result',function(s) {
          showFarm(s,from, buff = -8, farmLimit = 10);
        });
        pull.on('connect',_=>{
          setTimeout(_=> {pull.emit('!{emitEventName}',from,to)},500);
        })
      }
  div(id='notify')
