doctype html
html(class='day')
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Exo+2|Kalam|ZCOOL+KuaiLe&display=swap" rel="stylesheet")
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')

    link(rel='stylesheet', href=`/stylesheets/pppolice.css?20191029-2`)
    script(src=`/javascripts/pppolice.js?20191029-3`)

    block addons
  body
    block content
