doctype html
html
  head
    title= title
    link(rel='stylesheet', href=`/stylesheets/pppolice.css?${rev}`)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src=`/javascripts/pppolice.js?${rev}`)
  body
    block content
