doctype html
html
  head
    title= title
    link(rel='stylesheet', href=`/stylesheets/pppolice.css?20191019-4`)
    link(href="https://fonts.googleapis.com/css?family=Exo+2|Kalam&display=swap" rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src=`/javascripts/pppolice.js?20191019-3`)
  body
    block content
