extends layout

block content
  h1 all PPPolice users unfortunately got banned
  ul
    each user in bannedUsers
      li
        a(href=`/banned/${user.id}`)= user.name
        p
          each val,index in {'last update': new Date(user.lastUpdate), level: user.level, pp: user.pp.raw}
            div= `${index}: ${val}`
        - var activities = user.events.map(e => e.html).join("<br>").replace(new RegExp('\\b(users|u|b)\\b\\/(\\w+)','g'), "/osu.ppy.sh/$1/$2").replace(new RegExp('\\b(images)\\b\\/(\\w+)','g'),"/s.ppy.sh/$1/$2")
        - console.log(activities)
        p 
          span !{activities}