doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Exo+2|Kalam|ZCOOL+KuaiLe&display=swap" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/emojione@4.0.0/extras/css/emojione.min.css" rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src='https://cdn.jsdelivr.net/npm/emojione@4.0.0/lib/js/emojione.min.js')
    link(rel='stylesheet', href=`/stylesheets/pppolice.css?20191027-2`)
    script(src=`/javascripts/pppolice.js?20191027-7`)
  body
    block content
