doctype html
html(class='day')
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono|Exo+2|Kalam|ZCOOL+KuaiLe&display=swap" rel="stylesheet")
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src='https://momentjs.com/downloads/moment-with-locales.min.js')
    script(src='https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.min.js')

    link(rel='stylesheet', href=`/stylesheets/pppolice.css?20191214-4`)
    script(src=`/javascripts/pppolice.js?20191214-4`)

    block addons
  body
    block content
